* {
  box-sizing: border-box;
}

body {
  background: #fdfcef;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

section {
  padding-top: 120px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  padding-top: 60px;
}

.logo {
  display: block;
  max-width: 182px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.4em;
  margin: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 70px;
}

p {
  line-height: 1.36em;
  margin: 0;
  font-weight: 500;
}

.info-text {
  font-weight: 500;
  margin: 30px 0;
  width: 423px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 82px;
}

.header-wrapper:hover img {
  transform: scale(1.03);
}

.hero-image {
  width: 485px;
  transition: transform 0.5s;
}

.hero-text {
  width: 465px;
}

.hero-text h2 {
  text-align: left;
  margin-bottom: 0;
}

.action-wrap .info-text {
  margin: 24px 0;
  width: 371px;
}

.action-wrap .hero-text {
  width: 475px;
}

.button {
  background: #ff6961;
  border-radius: 100px;
  color: #fff;
  text-decoration: none;
  padding: 22px 70px;
  line-height: 1.4em;
  display: block;
  width: 227px;
  text-align: center;
  font-weight: 700;
  transition: all 0.5s ease;
}

.button:hover {
  background: #d85952;
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 41px;
  max-width: 720px;
  margin: 0 auto;
}

.description {
  display: flex;
  align-items: center;
  gap: 34px;
}

.description:hover img {
  transform: scale(1.2);
}

.description-image {
  transition: transform 0.5s;
}

.description-title {
  font-size: 30px;
  margin-bottom: 11px;
}

.action-wrap {
  background: linear-gradient(102deg, #fff6df 17.38%, #ffdfde 81.25%);
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 76px 125px 75px 122px;
  gap: 101px;
}

.action-wrap:hover img {
  transform: scale(1.1);
}

.action-image {
  width: 287px;
  transition: transform 0.5s;
}

.footer {
  text-align: center;
  padding: 120px 0;
  font-size: 15px;
}

/* Responsive */

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  .logo {
    margin: 0 auto;
  }
  .header-wrapper {
    margin-top: 79px;
    flex-direction: column-reverse;
    gap: 51px;
    text-align: center;
  }
  .hero-text {
    width: 100%;
  }
  .info-text {
    width: 100%;
  }
  .button {
    margin: 0 auto;
  }
  .action-wrap {
    flex-direction: column-reverse;
    padding: 101px 144px;
    text-align: center;
  }
  .hero-text h2 {
    text-align: center;
  }
  .action-wrap .info-text {
    margin: 24px auto;
  }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .description {
    flex-direction: column;
    text-align: center;
  }
  .description-container {
    width: auto;
  }
  .action-wrap {
    gap: 50px;
  }
}

/* Exstra small: 0px (320px) - 575px */
@media (max-width: 575px) {
  .container {
    padding: 0 15px;
  }
  .hero-image {
    width: 100%;
    display: block;
  }
  .hero-text {
    width: auto;
  }
  h1 {
    font-size: 45px;
  }
  .action-image {
    width: 201px;
  }
  .action-wrap {
    padding: 70px 20px;
  }
  .action-wrap .hero-text {
    width: 100%;
  }
  .action-wrap .info-text {
    width: auto;
  }
  section {
    padding-top: 90px;
  }
  .header-wrapper {
    margin-top: 50px;
  }
  .footer {
    padding: 90px 0;
  }
  h2 {
    font-size: 35px;
    margin-bottom: 50px;
  }
  .description-title {
    font-size: 25px;
  }
  p {
    font-size: 16px;
  }
}
